<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.springbootinit.mapper.TeamMapper">

    <resultMap id="BaseResultMap" type="com.yupi.springbootinit.model.entity.Team">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userid" column="userId" jdbcType="INTEGER"/>
            <result property="teamname" column="teamName" jdbcType="VARCHAR"/>
            <result property="maxnum" column="maxNum" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="teamtags" column="teamTags" jdbcType="VARCHAR"/>
            <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="isdeleted" column="isDeleted" jdbcType="TINYINT"/>
            <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="expiredTime" column="expiredTime" jdbcType="TIMESTAMP"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,teamName,
        maxNum,status,password,
        teamTags,createTime,isDeleted,
        expiredTime,description,
        updateTime
    </sql>
</mapper>
